{% extends 'base.html' %}

{% block title %}Tableau de bord{% endblock %}

{% block content %}
  <h1 class="mb-4">Bienvenue {{ session['admin'] }}</h1>

  <div class="dashboard d-flex flex-wrap justify-content-center gap-4 mb-4">
    <div class="card">
      <h2>🔍 Rechercher</h2>
      <a href="/search">Accéder</a>
    </div>

    <div class="card">
      <h2>✏️ Modifier</h2>
      <a href="/modify_vehicle">Choisir</a>
    </div>

<div class="card">
  <h2>📊 Statistiques</h2>
  <a href="/admin/stats">Voir</a>
</div>


    <div class="card">
      <h2>⚠️ Ajouter incident</h2>
      <a href="/add_incident">Créer</a>
    </div>

    <div class="card">
      <h2>➕ Ajouter véhicule</h2>
      <a href="/add_vehicle">Créer</a>
    </div>

    <div class="card">
      <h2>📥 Import Excel</h2>
      <a href="/import_excel">Charger</a>
    </div>

    {% if admin == 'lebayi moly' and role == 'admin' %}
      <div class="card">
        <h2>👑 Gestion des utilisateurs</h2>
        <a href="/admin/users">Accéder</a>
      </div>
    {% endif %}

    {% if session['role'] == 'admin' %}
      <div class="card">
        <h2>👤 Ajouter un utilisateur</h2>
        <a href="/admin/add_user">Créer</a>
      </div>
    {% endif %}
  </div>

  <div class="logout-button text-center mt-4">
    <a href="/logout" class="logout-link">
      🚪 Se déconnecter <span class="car">🚗</span>
    </a>
  </div>
{% endblock %}